<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.usedmarket.dao.ChatDao">
<!-- 상품번호와 일치하는 상품정보 가져오는 쿼리문 -->
	<select id="selectChatProduct" resultType="kr.green.usedmarket.vo.DibsVo">
		select * from product where pd_num = #{pd_num}
	</select>
<!-- 상품번호, 상품판매자아이디, 로그인된아이디가 일치하는 채팅룸 정보를 가져오는 쿼리문 -->
	<select id="selectCheckChattingRoom" resultType="kr.green.usedmarket.vo.ChattingVo">
		select * from chat_room where chro_pd_num = #{pd_num} and chro_buyer_mb_id = #{mb_id} and chro_seller_mb_id = #{pd_mb_id}
	</select>
<!-- 상품번호, 채팅룸번호와 일치하는 채팅정보를 가져오는 쿼리문 -->
	<select id="selectChattingList" resultType="kr.green.usedmarket.vo.ChattingVo">
		select * from chat_message 
			join chat_room on chat_message.chmg_chro_num = chat_room.chro_num 
			where chro_pd_num = #{pd_num} and chro_num = #{chro_num}
			order by chmg_sendDate;
	</select>
<!-- 채팅룸을 만들어주는 쿼리문 -->
	<insert id="insertChatRoom">
		insert into 
			chat_room(chro_pd_num, chro_buyer_mb_id, chro_seller_mb_id)
			values(#{pd_num}, #{mb_id}, #{pd_mb_id})
	</insert>
<!-- 채팅메시지를 등록하는 쿼리문 -->
	<insert id="insertChatMessage">
		insert into
			chat_message(chmg_chro_num, chmg_mb_id, chmg_content)
			values(#{chro_num}, #{mb_id}, #{chmg_content})
	</insert>
<!-- 채팅룸번호와 일치하는 채팅메시지 중에 화면보다 최신 메시지를 가져오는 쿼리문 -->
	<select id="selectNewChatMessage" resultType="kr.green.usedmarket.vo.ChattingVo">
		select * from chat_message where chmg_chro_num = #{chro_num} and chmg_num > #{chmg_num}
	</select>
<!-- 회원아이디와 일치하는 채팅방목록을 가져오는 쿼리문 -->
	<select id="selectChatRoom" resultType="kr.green.usedmarket.vo.ChattingVo">
		select * from chat_room where chro_buyer_mb_id = #{mb_id} or chro_seller_mb_id = #{mb_id}
	</select>
<!-- 채팅룸 번호와 일치하는 채팅메시지중에 마지막 메시지 내용 가져오는 쿼리문 -->	
	<select id="selectChatContent" resultType="String">
		select chmg_content from chat_message where chmg_chro_num = #{chro_num} order by chmg_sendDate desc limit 0, 1
	</select>
<!-- 채팅룸 번호와 일치하는 첫번째 메시지 전송시간을 가져오는 쿼리문 -->	
	<select id="selectChatFirstSendDate" resultType="Date">
		select chmg_sendDate from chat_message where chmg_chro_num = #{chro_num} order by chmg_sendDate limit 0, 1
	</select>


</mapper>