<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.usedmarket.dao.StandDao">

	<select id="selectStand" resultType="kr.green.usedmarket.vo.StandVo">
		select * from stand where st_mb_id = #{id}
	</select>
	
	<update id="updateStandName">
		update stand set st_name = #{standName} where st_mb_id = #{mb_id}
	</update>
	
	<select id="dupStandName" resultType="kr.green.usedmarket.vo.StandVo">
		select * from stand where st_name = #{standName}
	</select>
	
	<update id="updateStandIntroduce">
		update stand set st_content = #{standIntroduce} where st_mb_id = #{mb_id}
	</update>
	
	<update id="updateStandImg">
		update stand set st_img = #{fileName} where st_mb_id = #{mb_id}
	</update>
	
	<select id="selectProductList" resultType="kr.green.usedmarket.vo.ProductVo">
		select * from product where pd_mb_id = #{mb_id} and pd_isSale = 'N' and pd_isDel = 'N'
	</select>
<!-- 판매중인 상품 개수를 가져오는 쿼리문 -->
	<select id="selectProductCount" resultType="int">
		select count(*) from product where pd_mb_id = #{mb_id} and pd_isSale = 'N' and pd_isDel = 'N'
	</select>
	
	<select id="selectProduct" resultType="kr.green.usedmarket.vo.ProductVo">
		select * from product where pd_num = #{pd_num}
	</select>
<!-- 판매여부를 변경하는 쿼리문 -->
	<update id="updateProductisSale">
		update product set pd_isSale = #{product.pd_isSale}, pd_saleDate = #{product.pd_saleDate} where pd_num = #{product.pd_num}
	</update>
<!-- 삭제여부를 변경하는 쿼리문 -->
	<update id="updateProductisDel">
		update product set pd_isDel = #{product.pd_isDel} where pd_num = #{product.pd_num}
	</update>
<!-- 판매중인 상품 갯수를 가져오는 쿼리문 -->
	<select id="selectProductSaleCount" resultType="int">
		select count(*) from product where pd_mb_id = #{mb_id} and pd_isSale = 'Y' and pd_isDel = 'N'
	</select>
<!-- 판매완료된 상품리스트를 가져오는 쿼리문 -->
	<select id="selectSaleProductList" resultType="kr.green.usedmarket.vo.ProductVo">
		select * from product where pd_mb_id = #{mb_id} and pd_isSale = 'Y' and pd_isDel = 'N'
	</select>
<!-- 판매환료된 상품 개수를 가져오는 쿼리문 -->
	<select id="selectSaleProductCount" resultType="int">
		select count(*) from product where pd_mb_id = #{mb_id} and pd_isSale = 'Y' and pd_isDel = 'N' 
	</select>
<!-- 멤버 아이디와 일치하는 찜한 상품번호 가져오는 쿼리문 -->
	<select id="selectDibsPdNnm" resultType="kr.green.usedmarket.vo.DibsVo">
		select * from interest_product
			join product on interest_product.itpd_pd_num = product.pd_num
		 	where itpd_mb_id = #{mb_id};
	</select>	
<!-- 찜한 상품의 갯수를 가져오는 쿼리문 -->
	<select id="selectDibsPdCnt" resultType="int">
		select count(*) from interest_product where itpd_mb_id = #{mb_id}
	</select>
<!-- 상품번호와 맴버 아이디가 일치하는 찜한상품정보를 가져오는 쿼리문 -->
	<select id="selectInterestPd" resultType="kr.green.usedmarket.vo.InterestPdVo">
		select * from interest_product where itpd_pd_num = #{tmpPdNum} and itpd_mb_id = #{mb_id}
	</select>
<!-- 상품번호와 맴버 아이디가 일치하는 찜한상품정보를 삭제하는 쿼리문 -->
	<delete id="deleteInterestPd">
		delete from interest_product where itpd_pd_num = #{tmpPdNum} and itpd_mb_id = #{mb_id}
	</delete>
<!-- 가판대명과 일치하는 문의글 가져오기 -->
	<select id="selectStQustionsList" resultType="kr.green.usedmarket.vo.ProductQuestionsVo">
		select * from board where bo_st_name = #{st_name}
	</select>





</mapper>