<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.usedmarket.dao.StandDao">

	<select id="selectStand" resultType="kr.green.usedmarket.vo.StandVo">
		select * from stand where st_mb_id = #{id}
	</select>
	
	<update id="updateStandName">
		update stand set st_name = #{standName} where st_mb_id = #{mb_id}
	</update>
	
	<select id="dupStandName" resultType="kr.green.usedmarket.vo.StandVo">
		select * from stand where st_name = #{standName}
	</select>
	
	<update id="updateStandIntroduce">
		update stand set st_content = #{standIntroduce} where st_mb_id = #{mb_id}
	</update>
	
	<update id="updateStandImg">
		update stand set st_img = #{fileName} where st_mb_id = #{mb_id}
	</update>
	
	<select id="selectProductList" resultType="kr.green.usedmarket.vo.ProductVo">
		select * from product where pd_mb_id = #{mb_id} and pd_isSale = 'N' and pd_isDel = 'N'
	</select>
	
	<select id="selectProductCount" resultType="int">
		select count(*) from product where pd_mb_id = #{mb_id} and pd_isSale = 'N' and pd_isDel = 'N'
	</select>
	
	<select id="selectProduct" resultType="kr.green.usedmarket.vo.ProductVo">
		select * from product where pd_num = #{pd_num}
	</select>
	
	<update id="updateProductisSale">
		update product set pd_isSale = #{product.pd_isSale}, pd_isDel = #{product.pd_isDel} where pd_num = #{product.pd_num}
	</update>
</mapper>